openapi: 3.0.0
info:
  title: Hey Bible App API
  description: Public API for accessing Bible app data
  version: 1.0.3
servers:
  - url: https://api.heybible.app
    description: Production server
tags:
  - name: HeyBible
    description: Hey Bible App API endpoints for verses, notes, and images
paths:
  /images:
    get:
      tags:
        - HeyBible
      summary: Get user's images
      description: Retrieve a list of images with their associated verses, or a specific image if ID is provided
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: integer
          description: Specific image ID to retrieve (returns signed URL)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          description: Number of images to return (ignored if ID is specified)
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Number of images to skip (ignored if ID is specified)
      responses:
        '200':
          description: Images retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  images:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        verse_id:
                          type: integer
                        user_id:
                          type: string
                        storage_path:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        prompt:
                          type: string
                          nullable: true
                        size:
                          type: string
                          nullable: true
        '400':
          description: Bad request
        '401':
          description: Unauthorized - invalid or expired API key
        '404':
          description: Not found - image with specified ID not found
        '500':
          description: Internal server error
  /notes:
    get:
      tags:
        - HeyBible
      summary: Get notes
      description: Retrieve all notes with their associated verses for the user, or a specific note if ID is provided
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: integer
          description: Specific note ID to retrieve
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          description: Number of notes to return (ignored if ID is specified)
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Number of notes to skip (ignored if ID is specified)
      responses:
        '200':
          description: Notes retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  notes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        verse_id:
                          type: integer
                        content:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                          nullable: true
                        last_modified:
                          type: string
                          format: date-time
                          nullable: true
                        user_id:
                          type: string
        '400':
          description: Bad request
        '401':
          description: Unauthorized - invalid or expired API key
        '404':
          description: Not found - note with specified ID not found
        '500':
          description: Internal server error
  /verses:
    get:
      tags:
        - HeyBible
      summary: Get verses
      description: Retrieve all verses for the user, or a specific verse if ID is provided
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: integer
          description: Specific verse ID to retrieve
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          description: Number of verses to return (ignored if ID is specified)
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Number of verses to skip (ignored if ID is specified)
      responses:
        '200':
          description: Verses retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  verses:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        user_id:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        book:
                          type: string
                        chapter:
                          type: integer
                        start_verse:
                          type: integer
                        end_verse:
                          type: integer
                        is_favorite:
                          type: boolean
                        last_updated:
                          type: string
                          format: date-time
                        content:
                          type: string
                        bible_id:
                          type: string
                        notes:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              verse_id:
                                type: integer
                              content:
                                type: string
                              created_at:
                                type: string
                                format: date-time
                                nullable: true
                              last_modified:
                                type: string
                                format: date-time
                                nullable: true
                              user_id:
                                type: string
                        images:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              size:
                                type: string
                                nullable: true
                              prompt:
                                type: string
                                nullable: true
                              user_id:
                                type: string
                              verse_id:
                                type: integer
                              created_at:
                                type: string
                                format: date-time
                              storage_path:
                                type: string
        '400':
          description: Bad request
        '401':
          description: Unauthorized - invalid or expired API key
        '404':
          description: Not found - verse with specified ID not found
        '500':
          description: Internal server error
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Hey-Bible-Api-Key
security:
  - ApiKeyAuth: []
